.about {
	@include outer-container;
	@include clearfix;
	padding: $base-spacing*2 $gutter;
	
	h3, p {
		text-align: center;
	}
	
	h3 {
		line-height: $base-line-height*1.5;
	}
	
	p {
		@include span-columns(11);
		@include shift(.5);
	}
	
	@include media($medium-screen) {
		p {
			@include span-columns(7);
			@include shift(2.5);
		}
	}
}