.hero {
	$hero-background-top: fade_out($base-accent-color, .3); 
	$hero-background-bottom: adjust-hue($hero-background-top, -5);
	$hero-color: white !global;
	$gradient-angle: 10deg;
	$hero-image: '../../img/the-reading-man-@lg.jpg';

	position: relative;
  	height: 100%;
  	@include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-top, $hero-background-bottom), 20% 10% no-repeat $hero-background-top);
    background-size: cover;
    background-blend-mode: multiply;

	.hero-inner {
		@include outer-container;
		@include clearfix;
		
		height: 100%;
		margin: auto;
		color: $hero-color;
	}
}
