$font-color-dish: palette(black);
$font-color-description: palette(black, light);
$font-color-dinner: white;
$background-breakfast: fade_out($di-serria, .7);
$background-lunch: fade_out($base-accent-color, .1);
$background-dinner: $shingle-fawn;
$background-dinner-dish: fade_out(palette(black), .3);
$margin: $gutter;
$margin-bottom: $gutter/2;


// general styles
article {
    @include outer-container(100%);
    @include clearfix;
    padding-top: $gutter;
    text-align: center;
    
    @include media($medium-screen) {
	    padding: $gutter;
    }
    
    .row {
		@include clearfix;
		
		@include media($medium-screen) {
			margin-bottom: $gutter;
		}
    }
    .list, .dishes {
	    @include span-columns(12);
	    @include pad($margin);
	    
	    @include media($medium-screen) {
		    @include span-columns(4); 
	    }    
	}
	.list:first-child {
		padding-bottom: 0;
	}
	
	.list ul {
		
        li {
	        @include clearfix;
	        // margin-bottom: $margin-bottom;
	        .description {
	        	@extend %description; 
	        	text-transform: uppercase;
	        }
	        span {
		        @extend %price;
	        }
        }
       
        @include media($medium-screen) {
            @include span-columns(12 of 12);
        }
    }
	
	.dishes {
		background-color: $background-lunch;
		h3 {
			line-height: $base-line-height;
			color: $font-color-dish;
		}
		
		.description {
			@extend %description;
			margin-bottom: $margin-bottom; 
			
			span {
				@include fill-parent;
				font-size: $base-font-size * .9;
				color: $font-color-description;
				text-align: left;
			}
		}
		.description:last-child {
			margin-bottom: 0;
		}
		
		span {
			@extend %price;
		}
	}
}

// Individual styles for breakfast, lunch and dinner
#breakfast {
	background: $background-breakfast;
	
	.list {
		@include media($medium-screen) {
		    @include shift(2); 
	    }
	}
}

#lunch {
	background-color: none;
	.list:first-child {
		@include media($medium-screen) {
		    @include shift(2); 
	    }
	}

	.dishes {
		@include clearfix;
		
		@include media($medium-screen) {
			@include shift(4);
		}
	}
}

#dinner {
	background-color: $background-dinner;
	&, h3, & description, & desciption span {
		color: $font-color-dinner;
	}
	
	em {
		display: block;
		margin-bottom: $gutter;
	}
	
	.dishes{
		background: $background-dinner-dish;
		
		.description {
			
			span {
				color: $font-color-dinner;
			}
		}
	}
	
	.dishes:first-child {
		@include media($medium-screen) {
			@include shift(2);
		}
	}
	
	.last {
		@include clearfix;
		
		@include media($medium-screen) {
			@include shift(4);
		}
	}
	
	
}
















