<section class="about">
	<div class="about-inner">
		<h3>Café Zurich</h3>
		<p>Gemoedelijk en "no-nonsense" eten &amp; drinken op 't Zuid van Antwerpen. Vanaf uw eerste kop koffie van vandaag, totdat u het koken voor vanavond even overslaat.</p>
	</div>
</section>