<article itemprop="breakfast" id="breakfast" class="tab-panel active panel">
                <h1>Ontbijt</h1>
                <p><time datetime="Mo-Fr 8:00-12:00">maandag t/m vrijdag: 8.00 - 12.00</time><br />
                <time datetime="Sa, Su 9:30-13:00">zaterdag &amp; zondag: 9.30 - 13.00</time></p>
                
                <table class="list">
                    <tr>
                        <th scope="row">croissant</th>
                        <td>2,20</td>
                    </tr>
                    <tr>
                        <th scope="row">chocolade broodje</th>
                        <td>2,20</td>
                    </tr>
                    <tr>
                        <th scope="row">yoghurt natuur</th>
                        <td>3,50</td>
                    </tr>
                    <tr>
                        <th scope="row">yoghurt met vers fruit</th>
                        <td>6,50</td>
                    </tr>
                    <tr>
                        <th scope="row">hard- of zachtgekookt eitje met soldaatjes</th>
                        <td>2,50</td>
                    </tr>
                    <tr>
                        <th scope="row">'oeuf cocotte' met soldaatjes</th>
                        <td>3,50</td>
                    </tr>
                    <tr>
                        <th scope="row">omelet of roerei natuur</th>
                        <td>4,50</td>
                    </tr>
                    <tr>
                        <th scope="row">omelet ham, kaas of spek</th>
                        <td>6,50</td>
                    </tr>
                    <tr>
                        <th scope="row">omelet ham &amp; kaas</th>
                        <td>7,50</td>
                    </tr>
                    <tr>
                        <th scope="row">boerenomelet</th>
                        <td>9,00</td>
                    </tr>
                    <tr>
                        <th scope="row">spiegelei (2 eieren)</th>
                        <td>4,50</td>
                    </tr>
                    <tr>
                        <th scope="row">spiegelei met spek</th>
                        <td>7,00</td>
                    </tr>
                </table>
                
    
                <table>
                    <caption>Ontbijt menu's</caption>
                    <tbody>
                        <tr>
                            <th scope="row">Petit dejeuner<br />
                                <span>vers fruitsap, croissant of chocoladebroodje, mandje brood, confituur en choco, koffie of thee</span><br /></th>
                            <td>9,50</td>
                        </tr>
                        <tr>
                            <th scope="row">Shilling ontbijt<br />
                                <span>vers fruitsap, oeuf cocotte met soldaatjes, ham, kaas, croissant of chocoladebroodje, mandje brood, confituur en choco, koffie of thee</span><br /></th>
                            <td>14,50</td>
                        </tr>
                        <tr>
                            <th scope="row">Cava ontbijt
                                <br /><span>Shilling ontbijg inclusief glas cava</span><br /></th>
                            <td>18,50</td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- is de weergave van supplementen nodig? -->
                <table class="list">
                    <caption>supplementen</caption>
                    <tbody>
                        <tr>
                            <th scope="row">beenham</th>
                            <td>3,00</td>
                        </tr>
                        <tr>
                            <th scope="row">kaas</th>
                            <td>2,20</td>
                        </tr>
                        <tr>
                            <th scope="row">zalm</th>
                            <td>5,00</td>
                        </tr>
                        <tr>
                            <th scope="row">brood</th>
                            <td>1,00</td>
                        </tr>
                        <tr>
                            <th scope="row">confituur of choco</th>
                            <td>0,80</td>
                        </tr>
                   </tbody> 
                </table>
            </article>