
    <h1>Diner</h1>
    <p>
        <time datetime="Mu-Su 12:00-22:00">elke dag: 12.00 - 22.00</time>
    </p>
    <div class="row">
	    <section class="dishes">
        <h3>voor de kids</h3>
        <em>tot 12 jaar</em>
        <ul>
            <li>
                <div class="description"><h5>hamburger</h5>
                <span>met frietjes, appelmoes en sla</span></div>
                <span>8,50</span>
            </li>
            <li>
                <div class="description"><h5>Curryworst</h5>
                <span>met frietjes en sla</span>
                </div>
                <span>7,50</span>
            </li>
            <li>
                <div class="description"><h5>Kipfilet</h5>
                <span>frietjes, appelmoes en sla</span></div>
                <span>8,50</span>
            </li>
            <li>
                <div class="description"><h5>Macaroni</h5>
                <span>met ham &amp; kaas</span></div>
                <span>8,00</span>
            </li>
            <li>
                <div class="description"><h5>Lasagna Bolognaise</h5></div>
                <span>8,00</span>
            </li>
        </ul>
    </section>
	    <section class="dishes">
        <h3>Voorgerechten</h3>
        <ul>
            <li>
                <div class="description"><h5>carpaccio</h5>
                <span>rundsvlees, ruccola, parmezan</span></div>
                <span>9,50</span>
            </li>
            <li>
                <div class="description"><h5>vitello tonnato</h5>
                <span>kalfsvlees, tonijnsaus, appelkappertjes</span>
                </div>
                <span>14,00</span>
            </li>
            <li>
                <div class="description"><h5>scampi persillade of thaise curry</h5>
                <span>met look en peterselie of thaise curry</span></div>
                <span>9,50</span>
            </li>
            <li>
                <div class="description"><h5>huisgemaakte kaaskroketten</h5>
                <span>met een slaatje en soldaatjes (supplement frietjes 2,50)</span></div>
                <span>10,00</span>
            </li>
            <li>
                <div class="description"><h5>huisgemaakte garnaalkroketten</h5>
                <span>met een slaatje en soldaatjes (supplement frietjes 2,50)</span></div>
                <span>11,00</span>
            </li>

            <li>
                <div class="description"><h5>duo van kaas- &amp; garnaalkroketten</h5>
                <span>met een slaatje en soldaatjes (supplement frietjes 2,50)</span></div>
                <span>10,50</span>
            </li>

            <li>
                <div class="description"><h5>zalmtartaar</h5>
                <span>met avocado &amp; groene appel</span></div>
                <span>11,50</span>
            </li>
        </ul>
    </section>
    </div>
    
    <div class="row">
		<section class="dishes">
	        <h3>Salades</h3>
	        <ul>
	            <li>
	                <div class="description"><h5>caesar salade</h5>
	                <span>kip, ansovisdressing, parmezaan, croutons</span></div>
	                <span>14,50</span>
	            </li>
	            <li>
	                <div class="description"><h5>veggie salade</h5>
	                <span>met gegrilde groenten</span>
	                </div>
	                <span>11,50</span>
	            </li>
	            <li>
	                <div class="description"><h5>salade geitenkaas</h5>
	                <span>met honing, stukjes appel, noten en spek</span></div>
	                <span>13,50</span>
	            </li>
	            <li>
	                <div class="description"><h5>Oosterse salade met kip</h5>
	                <span>In sojasaus gemarineerde kip, gemengde salade, paprika, tomaat, komkommer en mosterd/honingdressing</span></div>
	                <span>13,50</span>
	            </li>
	        </ul>
	    </section>
	    <section class="dishes">
        <h3>pasta</h3>
        <ul>
            <li>
                <div class="description"><h5>Macaroni</h5>
                <span>met ham &amp; kaas</span></div>
                <span>12,50</span>
            </li>
            <li>
                <div class="description"><h5>Lasagna Bolognaise</h5>
                <span>huisgemaakt</span></div>
                <span>13,50</span>
            </li>
            <li>
                <div class="description"><h5>Tagliatelle met gerookte zalm</h5>
                <span>met ricotta &amp; spinazie</span></div>
                <span>15,00</span>
            </li>
            <li>
                <div class="description"><h5>Pasta Veggie</h5>
                <span>met penne en seizoensgroenten</span></div>
                <span>11,00</span>
            </li>
        </ul>
    </section>
    </div>
    
    <section class="dishes last">
        <h3>Hoofdgerechten</h3>
        <ul>
            <li>
                <div class="description"><h5>steak tartaar</h5>
                <span>met frietjes en een slaatje</span></div>
                <span>14,50</span>
            </li>
            <li>
                <div class="description"><h5>zurichburger</h5>
                    <span>rundsburger met sla, tomaat, rode salsadressing en frietjes (supplement kaas 1,50)</span>
                </div>
                <span>13,50</span>
            </li>
            <li>
                <div class="description"><h5>steak met frietjes</h5>
                <span>keuze uit peper- of champignonsaus (met béarnaise &#43; 1,50)</span></div>
                <span>17,50</span>
            </li>
            <li>
                <div class="description"><h5>stoofvlees</h5>
                <span>met frietjes en een slaatje</span></div>
                <span>15,00</span>
            </li>
            <li>
                <div class="description"><h5>varkenshaasje in een mosterdjasje</h5>
                <span>met aardappelgratin en een witlofslaatje</span></div>
                <span>16,50</span>
            </li>
            <li>
                <div class="description"><h5>vol-au-vent</h5>
                <span>met frietjes en een slaatje</span></div>
                <span>14,50</span>
            </li>
            <li>
                <div class="description"><h5>gegrilde zeebaars</h5>
                <span>met rozemarijnaardappeltjes, een slaatje en tartaarsaus</span></div>
                <span>17,50</span>
            </li>
            <li>
                <div class="description"><h5>zalmtartaar</h5>
                <span>met avocado en groene appel</span></div>
                <span>16,50</span>
            </li>
            <li>
                <div class="description"><h5>scampi persillade of thaise cury</h5>
                <span>met look en peterselie of thaise curry</span></div>
                <span>16,50</span>
            </li>
        </ul>
    </section>
    