<article itemprop="dinner" id="dinner" class="panel tab-panel">
    <h1>Diner</h1>
    <p>
        <time datetime="Mu-Su 12:00-22:00">Elke dag: 12.00 - 22.00</time>
    </p>
    <table>
        <caption>voor de kids<br />
        <em>tot 12 jaar</em>
        </caption>
        <tbody>
            <tr>
                <th scope="row">hamburger<br />
                <span>met frietjes, appelmoes en sla</span></th>
                <td>8,50</td>
            </tr>
            <tr>
                <th scope="row">Curryworst<br />
                <span>met frietjes en sla</span>
                </th>
                <td>7,50</td>
            </tr>
            <tr>
                <th scope="row">Kipfilet<br />
                <span>frietjes, appelmoes en sla</span></th>
                <td>8,50</td>
            </tr>
            <tr>
                <th scope="row">Macaroni<br />
                <span>met ham &amp; kaas</span></th>
                <td>8,00</td>
            </tr>
            <tr>
                <th scope="row">Lasagna Bolognaise</th>
                <td>8,00</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>Voorgerechten</caption>
        <tbody>
            <tr>
                <th scope="row">carpaccio<br />
                <span>rundsvlees, ruccola, parmezan</span></th>
                <td>9,50</td>
            </tr>
            <tr>
                <th scope="row">vitello tonnato<br />
                <span>kalfsvlees, tonijnsaus, appelkappertjes</span>
                </th>
                <td>14,00</td>
            </tr>
            <tr>
                <th scope="row">scampi persillade of thaise curry<br />
                <span>met look en peterselie of thaise curry</span></th>
                <td>9,50</td>
            </tr>
            <tr>
                <th scope="row">huisgemaakte kaaskroketten<br />
                <span>met een slaatje en soldaatjes (supplement frietjes 2,50)</span></th>
                <td>10,00</td>
            </tr>
<!--
            <tr class="list">
                <th scope="row"><span>supplement frietjes</span></th>
                <td>&#43; 2,50</td>
            </tr>
-->
            <tr>
                <th scope="row">huisgemaakte garnaalkroketten<br />
                <span>met een slaatje en soldaatjes (supplement frietjes 2,50)</span></th>
                <td>11,00</td>
            </tr>
<!--
            <tr>
                <th scope="row"><span>supplement frietjes</span></th>
                <td>&#43; 2,50</td>
            </tr>
-->
            <tr>
                <th scope="row">duo van kaas- &amp; garnaalkroketten<br />
                <span>met een slaatje en soldaatjes (supplement frietjes 2,50)</span></th>
                <td>10,50</td>
            </tr>
<!--
            <tr>
                <th scope="row"><span>supplement frietjes</span></th>
                <td>&#43; 2,50</td>
            </tr>
-->
            <tr>
                <th scope="row">zalmtartaar<br />
                <span>met avocado &amp; groene appel</span></th>
                <td>11,50</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>Salades</caption>
        <tbody>
            <tr>
                <th scope="row">caesar salade<br />
                <span>kip, ansovisdressing, parmezaan, croutons</span></th>
                <td>14,50</td>
            </tr>
            <tr>
                <th scope="row">veggie salade<br />
                <span>met gegrilde groenten</span>
                </th>
                <td>11,50</td>
            </tr>
            <tr>
                <th scope="row">salade geitenkaas<br />
                <span>met honing, stukjes appel, noten en spek</span></th>
                <td>13,50</td>
            </tr>
            <tr>
                <th scope="row">Oosterse salade met kip<br />
                <span>In sojasaus gemarineerde kip, gemengde salade, paprika, tomaat, komkommer en mosterd/honingdressing</span></th>
                <td>13,50</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>Hoofdgerechten</caption>
        <tbody>
            <tr>
                <th scope="row">steak tartaar<br />
                <span>met frietjes en een slaatje</span></th>
                <td>14,50</td>
            </tr>
            <tr>
                <th scope="row">shillingburger<br />
                    <span>rundsburger met sla, tomaat, rode salsadressing en frietjes (supplement kaas 1,50)</span>
                </th>
                <td>13,50</td>
            </tr>
<!--
            <tr>
                <th scope="row"><span>met kaas</span></th>
                <td>&#43; 1,50</td>
            </tr>
-->
            <tr>
                <th scope="row">steak met frietjes<br />
                <span>keuze uit peper- of champignonsaus (met béarnaise &#43; 1,50)</span></th>
                <td>17,50</td>
            </tr>
<!--
            <tr>
                <th scope="row"><span>met béarnaise</span></th>
                <td>&#43; 1,50</td>
            </tr>
-->
            <tr>
                <th scope="row">stoofvlees<br />
                <span>met frietjes en een slaatje</span></th>
                <td>15,00</td>
            </tr>
            <tr>
                <th scope="row">varkenshaasje in een mosterdjasje<br />
                <span>met aardappelgratin en een witlofslaatje</span></th>
                <td>16,50</td>
            </tr>
            <tr>
                <th scope="row">vol-au-vent<br />
                <span>met frietjes en een slaatje</span></th>
                <td>14,50</td>
            </tr>
            <tr>
                <th scope="row">gegrilde zeebaars<br />
                <span>met rozemarijnaardappeltjes, een slaatje en tartaarsaus</span></th>
                <td>17,50</td>
            </tr>
            <tr>
                <th scope="row">zalmtartaar<br />
                <span>met avocado en groene appel</span></th>
                <td>16,50</td>
            </tr>
            <tr>
                <th scope="row">scampi persillade of thaise cury<br />
                <span>met look en peterselie of thaise curry</span></th>
                <td>16,50</td>
            </tr>
        </tbody>
    </table>

    <table>
        <caption>pasta</caption>
        <tbody>
            <tr>
                <th scope="row">Macaroni<br />
                <span>met ham &amp; kaas</span></th>
                <td>12,50</td>
            </tr>
            <tr>
                <th scope="row">Lasagna Bolognaise<br />
                <span>huisgemaakt</span></th>
                <td>13,50</td>
            </tr>
            <tr>
                <th scope="row">Tagliatelle met gerookte zalm<br />
                <span>met ricotta &amp; spinazie</span></th>
                <td>15,00</td>
            </tr>
            <tr>
                <th scope="row">Pasta Veggie<br />
                <span>met penne en seizoensgroenten</span></th>
                <td>11,00</td>
            </tr>
        </tbody>
    </table>

    <table class="list">
        <caption>supplementen</caption>
        <tbody>
            <tr>
                <th scope="row">frietjes</th>
                <td>3,00</td>
            </tr>
            <tr>
                <th scope="row">kroketjes</th>
                <td>3,00</td>
            </tr>
            <tr>
                <th scope="row">rijst</th>
                <td>2,50</td>
            </tr>
            <tr>
                <th scope="row">salade</th>
                <td>3,50</td>
            </tr>
            <tr>
                <th scope="row">mayonaisse of ketchup</th>
                <td>0,50</td>
            </tr>
            <tr>
                <th scope="row">brood</th>
                <td>1,00</td>
            </tr>
       </tbody> 
    </table>
</article>
    