<ul class="nav">
    <li {% if mixture.url == "home" %}class="current"{% endif %}><a href="/home">Zurich</a></li>
	<li {% if mixture.url == "index" %}class="current"{% endif %}><a href="/">Mixture</a></li>
	<li {% if mixture.url == "model" %}class="current"{% endif %}><a href="/model">Model</a></li>
</ul>