<div class="hero">
	<a  id="trigger-overlay" class="icn x ">
        <div class="icn--toggle"></div>
	</a>
	
    {% include "overlay-nav" %}
	<div class="hero-inner">
		{% include "logo" %}
	</div>
</div>
