<article itemprop="lunch" id="lunch" class="panel tab-panel">
                <h1>Lunch</h1>
                <p><time datetime="Mo-Su 12:00-18:00">Elke dag: 12.00 - 18.00</time></p>
                <table class="list">
                    <caption>club sandwiches</caption>
                    <tbody>
                        <tr>
                            <th scope="row">club sandwich kip</th>
                            <td>12,50</td>
                        </tr>
                        <tr>
                            <th scope="row">club sandwich zalm</th>
                            <td>13,50</td>
                        </tr>
                        <tr>
                            <th scope="row"><span>supplement frietjes</span></th>
                            <td>&#43; 2,50</td>
                        </tr>
                    </tbody>
                </table>
                
                <table class="list">
                    <caption>croque's</caption>
                    <tbody>
                        <tr>
                            <th scope="row">croque uit 't vuistje</th>
                            <td>5,00</td>
                        </tr>
                        <tr>
                            <th scope="row">croque monsieur</th>
                            <td>7,00</td>
                        </tr>
                        <tr>
                            <th scope="row">croque madame</th>
                            <td>8,00</td>
                        </tr>
                    </tbody>
                </table>
                
                <table>
                    <caption>focaccia's</caption>
                    <tbody>
                        <tr>
                            <th scope="row">focaccia met gegrilde groenten<br />
                            <span>verse basilicum olie en ruccola</span></th>
                            <td>12,00</td>
                        </tr>
                        <tr>
                            <th scope="row">focaccia met crispy bacon<br />
                            <span>stilton cheese, spinaziesalade, yoghurtdressing</span></th>
                            <td>12,50</td>
                        </tr>
                        <tr>
                            <th scope="row">focaccia met gemarineerde rosbief<br />
                            <span>rode salsadressing, gegrilde paprika en ruccola</span></th>
                            <td>13,00</td>
                        </tr>
                    </tbody>
                </table>
            </article>