
    <h1>Lunch</h1>
    <p><time datetime="Mo-Su 12:00-18:00">elke dag: 12.00 - 18.00</time></p>
   
    <div class="row">
	    <section class="list">
	        <h3>club sandwiches</h3>
	        <ul>
	            <li>
	                <div class="description">club sandwich kip</div>
	                <span>12,50</span>
	            </li>
	            <li>
	                <div class="description">club sandwich zalm</div>
	                <span>13,50</span>
	            </li>
	            <li>
	                <div class="description">supplement frietjes</div>
	                <span>&#43; 2,50</span>
	            </li>
	        </ul>
	    </section>
	    
	    <section class="list">
	        <h3>croque's</h3>
	        <ul>
	            <li>
	                <div class="description">croque uit 't vuistje</div>
	                <span>5,00</span>
	            </li>
	            <li>
	                <div class="description">croque monsieur</div>
	                <span>7,00</span>
	            </li>
	            <li>
	                <div class="description">croque madame</div>
	                <span>8,00</span>
	            </li>
	        </ul>
	    </section>
    </div>
    <section class="dishes">
        <h3>focaccia's</h3>
        <ul>
            <li>
                <div class="description"><h5>focaccia met gegrilde groenten</h5>
                	<span>verse basilicumolie en ruccola</span>
                </div>
                <span>12,00</span>
            </li>
            <li>
                <div class="description"><h5>focaccia met crispy bacon</h5>
                	<span>stilton cheese, spinaziesalade, yoghurtdressing</span>
                </div>
                <span>12,50</span>
            </li>
            <li>
                <div class="description"><h5>focaccia met gemarineerde rosbief</h5>
                <span>rode salsadressing, gegrilde paprika en ruccola</span></div>
                <span>13,00</span>
            </li>
        </ul>
    </section>
