
    <h1>Ontbijt</h1>
    <p><time datetime="Mo-Fr 8:00-12:00">ma t/m vrij: 8.00 - 12.00</time><br />
    <time datetime="Sa, Su 9:30-13:00">za &amp; zon: 9.30 - 13.00</time></p>
                
    <section class="list">
	    <ul>
	        <li>
	        	<div class="description">croissant</div>
	        	<span>2,20</span>
	        </li>
	        <li>
	           	<div class="description">chocolade broodje</div>
	            <span>2,20</span>
	        </li>
	        <li>
	            <div class="description">yoghurt natuur</div>
	            <span>3,50</span>
	        </li>
	        <li>
	            <div class="description">yoghurt met vers fruit</div>
	            <span>6,50</span>
	        </li>
	        <li>
	            <div class="description">hard- of zachtgekookt eitje met soldaatjes</div>
	            <span>2,50</span>
	        </li>
	        <li>
	            <div class="description">'oeuf cocotte' met soldaatjes</div>
	            <span>3,50</span>
	        </li>
	        <li>
	            <div class="description">omelet of roerei natuur</div>
	            <span>4,50</span>
	        </li>
	        <li>
	            <div class="description">omelet ham, kaas of spek</div>
	            <span>6,50</span>
	        </li>
	        <li>
	            <div class="description">omelet ham &amp; kaas</div>
	            <span>7,50</span>
	        </li>
	        <li>
	            <div class="description">boerenomelet</div>
	            <span>9,00</span>
	        </li>
	        <li>
	            <div class="description">spiegelei (2 eieren)</div>
	            <span>4,50</span>
	        </li>
	        <li>
	            <div class="description">spiegelei met spek</div>
	            <span>7,00</span>
        </li> 
	    </ul>          
	</section>
	
	<section class="dishes">
        <h3>menu dejeuner</h3>
        <ul>
            <li>
                <div class="description"><h5>Petit dejeuner</h5>
                    <span>vers fruitsap, croissant of chocoladebroodje, mandje brood, confituur en choco, koffie of thee</span>
                </div>
                <span>9,50</span>
            </li>
            <li>
                <div class="description"><h5>Zurich ontbijt</h5>
                    <span>vers fruitsap, oeuf cocotte met soldaatjes, ham, kaas, croissant of chocoladebroodje, mandje brood, confituur en choco, koffie of thee</span>
                </div>
                <span>14,50</span>
            </li>
            <li>
                <div class="description"><h5>Cava ontbijt</h5>
                    <span>Zurich ontbijt inclusief glas cava</span>
                </div>
                <span>18,50</span>
            </li>
        </ul>
    </section>

    
              