<section class="opening-hours">
    <p>
        <time itemprop="openingHours" datetime="Mo-Fr 08:00-00:00">ma t/m vrij: 8.00 ~ 00.00</time><br />
        <time itemprop="openingHours" datetime="Sa, Su 09:30-00:00">za &amp; zo: 9.30 ~ 00.00</time>
    </p>

    <p>    
        <span itemprop="streetAddress">Vlaamse Kaai 60 - 2000 Antwerpen</span>   
    </p>


    <p>
        <span itemprop="telephone"><a href="tel:+3232577678">03 257 76 78</a></span>
        <br />
        <em itemprop="acceptsReservations">(We nemen helaas geen reservering aan)</em>                   
    </p>
</section>