<div class="overlay overlay-slidedown">
    <nav class="navbar">
        <ul class="nav">
            <li class="nav__item">
                <a href="#">Dagmenu</a>
            </li>

            <li id="la-carte" class="nav__item">
                <a href="#">A la carte</a>
            </li>
            
            <li class="nav__item">
                <a href="#">Feesten &amp; Partijen</a>
            </li>
            
            <li class="nav__item">
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</div>